# IDEs and othees
.DS_Store
.vscode/sftp.json
node_modules
package-lock.json
nbproject
### macOS ###
.DS_Store
### Node ###
node_modules/
package-lock.json
### Composer ###
composer.lock
### Tmp ###
_tmp/
*.map
