:root {
    --rrze-downloads-color-surface: #fff;
    --rrze-downloads-color-border: #dfdfdf;
    --rrze-downloads-color-accent: #2271b1;
    --rrze-downloads-border-radius: 3px;
    --rrze-downloads-space-xs: 2px;
    --rrze-downloads-space-sm: 5px;
    --rrze-downloads-space-md: 10px;
    --rrze-downloads-space-lg: 20px;
    --rrze-downloads-media-terms-max-height: 145px;
    --rrze-downloads-spinner-size: 20px;
    --rrze-downloads-disabled-opacity: 0.5;
}
